:root {
    --ion-background-color: #F6F3ED;
  
    --ion-toolbar-background: #F6F3ED;
  
    --ion-tab-bar-background: #F6F3ED;

    --ion-tab-button: #02382C!;
  }

  ion-tab-bar {
    --color-selected: #02382C
  }

  .ion-page-hidden[inert] {
    pointer-events: none;
  }
  