@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


:root {
    --ion-background-color: #F6F3ED;
  
    --ion-toolbar-background: #F6F3ED;
  
    --ion-tab-bar-background: #F6F3ED;

    --ion-tab-button: #02382C!;

    --ion-font-family: 'Montserrat', sans-serif;

    --ion-color-primary:    #02382C;
  }

  ion-tab-bar {
    --color-selected: #02382C
  }

  .ion-page-hidden[inert] {
    pointer-events: none;
  }

  ion-toolbar {
    --min-height: 70px;
    --border-width: 0 !important;
  }

ion-app,
ion-page,
ion-content {
  --padding-start:       0px !important;
  --padding-end:         0px !important;
  --ion-safe-area-left:  0px !important;
  --ion-safe-area-right: 0px !important;
}



  